* {
    background: #53a8e8;
}

h1 {
    color: black;
    text-align: center;
    font-size: 45px;
}

p {
    color: #cfc811;
    text-align: center;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}

u {
    background: fixed;
}

.container {
    height: 300px;
    width: 100%;
    background: whitesmoke;
}

.dayContainer {
    display: flex;
    border-style: 100px;
    margin: 100px;
    color: pink;
    
}